.logoutButton {
  position: fixed;
  top: 3.5rem;
  right: 4rem;
  z-index: 1000;

  .button {
    background-color: #5b54d3;
    color: #fff;
    border: 1px solid #bfbfbf;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #322f65;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  @media (max-width: 768px) {
    top: 3rem;
    right: 1rem;

    .button {
      padding: 0.4rem 0.9rem;
      font-size: 0.9rem;
    }
  }
}
